/vendor
composer.json
composer.lock
composer.phar
/application/logs/*
/application/cache/*
/application/config/config.php
/application/config/database.php
/arrowchat
/captcha
/assets
/css
/fonts
/img
/js
/sound
/system
/uploads
.htaccess
index.php
php.ini